<div style="text-align:center;">
    <h2>Sorry..</h2>
    <label>We might be down or the request was invalid.</label>
    <br />
    <a class="btn btn-default" asp-action="Login" asp-controller="Identity/Account">To Login</a>
</div>



