@model List<List<Object>>

<table style="width:100%;margin-top:1em;">
    <tr>
        <th style="width:100%"><h2>Archive</h2></th>
        @if ((bool)ViewData["isAdmin"]) 
        {
            <th style="vertical-align:bottom;"><a class="btn btn-default" asp-action="Index" asp-controller="Admin">Admin page</a></th>
        }
    </tr>
</table>

<div>
    <table class="table" style="margin-top:3em;">
        <thead>
            <tr>
                <th>Table -- Choose an archive to Edit og Lookup</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (List<Object> row in Model)
            {
                <tr>
                    <td style="width:100%; vertical-align:middle;">@row[1]</td>
                    <td><a class="btn btn-default" asp-controller="Archive" asp-action="Data" asp-route-id="@row[0]">Open</a></td>
                </tr>
            }
        </tbody>

    </table>
</div>
