<div id="Top" style="margin-top:1em;">
    <table style="width:100%;margin-top:1em;">
        <tr>
            <th><h2>Archive Page</h2></th>
            @if ((bool)ViewData["isAdmin"])
            {
                <th style="text-align:right;vertical-align:bottom;"><a class="btn btn-default" asp-action="Index" asp-controller="Admin">Admin page</a></th>
            }
        </tr>
        <tr>
            <th>
                <select class="form-control" id="archive_selector">
                    <option>Choose Archive</option>
                    @foreach (List<Object> archive in (List<List<Object>>)ViewData["Archives"])
                    {
                        <option value="@archive[0]">@archive[1]</option>
                    }
                </select>
            </th>
            @if ((bool)ViewData["isAdmin"])
            {
                <th style="text-align:right"></th>
            }
        </tr>
    </table>
</div>

<div id="bottom" style="margin-top:3em;">
    <div id="archive-titel">
        <h4 class="title-archive"></h4>
    </div>
    <div style="width:100%; overflow-x:auto;">
        <table id="table_data" class="table table-hover">
            <thead class="table-data-head"></thead>
            <tbody class="table-data-body"></tbody>
            <tfoot>
                <tr>
                    <td colspan="2" style="text-align:center;padding-left:10px;">
                        <input type="button" class="btn btn-default add-row" value="Add Row" />
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/archive.js"></script>
}