@model List<KeyValuePair<string, string>>

<div style="text-align: center;">
    <table class="table">
        <thead>
            <tr>
                <th>Table</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(KeyValuePair<string,string> table in Model)
            {
                <tr>
                    <td><label>@table.Value</label></td>
                    <td><a asp-controller="Archive" asp-action="Data" asp-route-id="@table.Key">Open</a></td>
                </tr>
            }
        </tbody>

    </table>

</div>
